:root {
  --clr-accent-500: #6248ff;
  --clr-accent-200: #efedff;

  --clr-neutral-500: #000000;
  --clr-neutral-400: #333333;
  --clr-neutral-300: #4f4f4f;
  --clr-neutral-200: #828282;
  --clr-neutral-100: #ffffff;

  --clr-error: #eb5757;
  --clr-success: #0eac00;

  --ff-primary: "Museo Sans Cyrl", sans-serif;
  --ff-secondary: "Montserrat", sans-serif;

  --fw-regular: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /* 14px */
  --fs-300: 0.875rem;
  /* 15px */
  --fs-400: 0.9375rem;
  /* 16px */
  --fs-500: 1rem;
  /* 18px */
  --fs-600: 1.125rem;
  /* 24px */
  --fs-700: 1.5rem;
  /* 56px */
  --fs-800: 3.5rem;
  /* 64px */
  --fs-900: 4rem;

  /* 8px */
  --size-100: 0.5rem;
  /* 16px */
  --size-200: 1rem;
  /* 24px */
  --size-300: 1.5rem;
  /* 32px */
  --size-400: 2rem;
  /* 68px */
  --size-500: 4.25rem;
  /* 80px */
  --size-600: 5rem;
  /* 100px */
  --size-700: 6.25rem;
  /* 120px */
  --size-800: 7.5rem;
  /* 140px */
  --size-900: 8.75rem;
}

/* Modern CSS Reset  */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------------------------------------- */

/* general styling */
body {
  font-family: var(--ff-primary);
  color: var(--clr-neutral-400);
  font-weight: var(--fw-semi-bold);
}

/* button */
.button {
  cursor: pointer;
  color: var(--clr-neutral-100);
  font-weight: var(--fw-regular);
  background-color: var(--clr-accent-500);
  border: 0;
  border-radius: 60px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #7181fc;
}

.button:active {
  background-color: #354bf4;
}

.nav-button {
  font-size: var(--fs-300);
  padding: 13px 24px;
}

.main-button {
  font-size: var(--fs-500);
  padding: 15px 64px;
}

/* navigation */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-400);
  font-weight: var(--fw-semi-bold);
  margin-block: var(--size-300);
}

.nav-list {
  display: flex;
  gap: var(--size-400);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-section {
  display: flex;
  align-items: center;
}

.nav-section:first-child {
  gap: 3.5625rem;
}

.nav-section:nth-child(2) {
  gap: var(--size-300);
}

.nav-select {
  border-radius: 60px;
  padding: 13px 0.5rem 13px 0.75rem;
  border-width: 1px;
  border: 0;
  outline: 1px solid;
  border-right: 16px solid transparent;
  cursor: pointer;
}

.nav-button {
  display: flex;
}

.mobile-nav-toggle {
  display: none;
}

/* first main section */
.big-title {
  font-size: var(--fs-900);
  line-height: 72px;
  font-weight: var(--fw-semi-bold);
}

.text {
  font-family: var(--ff-secondary);
  font-weight: 400;
  font-size: var(--fs-600);
  line-height: 30px;
}

/* shapes section */
.title {
  font-size: var(--fs-800);
  line-height: 66px;
}

.title span {
  padding: 0.2rem;
}

.box {
  max-width: 480px;
  border: 2px solid var(--clr-accent-500);
  border-radius: 30px;
  padding: var(--size-400);
  background-color: var(--clr-neutral-100);
}

.number {
  font-size: var(--fs-400);
  line-height: 18px;
  color: var(--clr-accent-500);
  margin-bottom: var(--size-100);
}

.subtitle {
  font-size: var(--size-300);
  line-height: 29px;
  margin-bottom: var(--size-300);
}

.box-right {
  margin-left: 38rem;
}

.dotted-line {
  max-width: 480px;
  height: 200px;
  border-top: 3px dashed var(--clr-accent-500);
  border-radius: 30px;

  position: relative;
  top: -6.3rem;
  z-index: -1;
}

.dotted-line-right {
  border-right: 3px dashed var(--clr-accent-500);
  left: 25rem;
}

.dotted-line-left {
  border-left: 3px dashed var(--clr-accent-500);
  left: 15rem;
}

/* carousel */
.slide-arrow {
  background-color: transparent;
  border: 1px solid var(--clr-accent-500);
  border-radius: 50%;
  padding: 18px 20px;
  cursor: pointer;
  margin-right: var(--size-200);
}

.slide-arrow:active,
.slide-arrow:hover {
  background-color: var(--clr-accent-200);
}

.disabled {
  border: 1px solid #e0e0e0;
}

.disabled:hover {
  background-color: transparent;
}

.slides-container {
  list-style-type: none;
}

.slide-person-info {
  display: flex;
  align-items: center;
  gap: var(--size-400);
}

.slide-person-info .person-name {
  font-size: var(--fs-600);
  line-height: 30px;
}

.slide-person-info .person-job {
  font-family: var(--ff-secondary);
  font-weight: 400;
  font-size: var(--fs-500);
  line-height: 27px;
}

.slide {
  position: relative;
}

.slide-review .subtitle {
  margin-top: var(--size-200);
  margin-bottom: var(--size-400);
}

.slide-review img {
  position: absolute;
  margin-top: -4px;
  left: 1px;
}

.slider-wrapper {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.slides-container {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: scroll;
  scroll-behavior: smooth;
}

.slides-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

/* FAQ section */

.faq-accordion input {
  display: none;
}

.question-container:not(:last-child) {
  margin-bottom: var(--size-200);
}

.faq-box {
  position: relative;
  max-width: 100%;
  cursor: pointer;
  border: 2px solid var(--clr-accent-500);
  border-radius: 20px;
}

.question-label {
  width: 100%;
  padding: var(--size-400) 2.5rem;
  display: inline-block;
  cursor: pointer;
}

.faq-answear {
  padding-inline: 2.5rem;
  padding-bottom: var(--size-400);
  margin-top: -1rem;
  display: none;
}

.box-close {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

input:checked + .faq-box {
  height: auto;
}

input:checked + .faq-box img {
  transform: rotate(45deg);
}

input:checked + .faq-box .faq-answear,
input:checked + .faq-box .box-close {
  display: inline-block;
}

/* Form section */
.form-box {
  border: 2px solid var(--clr-accent-500);
  border-radius: 20px;
  padding: var(--size-600);
  background-color: var(--clr-neutral-100);
}

.form-box form {
  display: flex;
  flex-direction: column;
  gap: var(--size-300);
}

.form-box input:not(input:last-child),
.form-box textarea {
  border: 1px solid #e0e0e0;
  padding: var(--size-200) var(--size-100);
  color: var(--clr-neutral-300);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
}

.form-box input::placeholder,
.form-box textarea::placeholder {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
  font-size: var(--ff-500);
  line-height: 26px;
  color: var(--clr-neutral-200);
}

.form-box input:focus,
.form-box textarea:focus {
  outline: none;
  border: 1px solid var(--clr-neutral-200);
}

.form-button {
  padding: 1.25rem var(--size-500);
  margin-top: var(--size-200);
}

.form-field input,
.form-field textarea {
  width: 100%;
}

#form .form-field input.error,
#form .form-field textarea.error {
  border: 1px solid var(--clr-error);
}

#form .form-field input.success,
#form .form-field textarea.success {
  border: 1px solid var(--clr-success);
}

.form-field .error-message {
  color: var(--clr-error);
  font-size: var(--fs-400);
  line-height: 16px;
  margin-top: var(--size-100);
}

/* footer */
footer {
  margin-top: var(--size-400);
  margin-bottom: 3rem;
}

.footer-row {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  gap: var(--size-400);
}

.footer-col-4:last-child {
  justify-self: end;
}

.footer-title {
  font-size: var(--fs-600);
  line-height: 30px;
  margin-bottom: var(--size-200);
}

.footer-list {
  list-style-type: none;
}

.footer-list li {
  margin-bottom: var(--size-300);
}

.footer-text {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-300);
  font-size: var(--size-200);
  line-height: 27px;
}

.copyright .footer-text {
  color: var(--clr-neutral-200);
}

.copyright {
  margin-top: 3rem;
  margin-bottom: 4.5rem;
}

.copyright div:last-child {
  gap: var(--size-500);
}

/* utility classes */
.container {
  max-width: 1440px;
  padding-inline: var(--size-800);
  margin-inline: auto;
}

.bg-purple {
  background-color: var(--clr-accent-200);
}

.even-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.align-center {
  align-items: center;
}

.centered {
  margin-inline: auto;
}

a {
  text-decoration: none;
  color: var(--clr-neutral-400);
}

li a {
  font-size: var(--fs-400);
}

.ml-45 {
  margin-left: 45px;
}

.ml-neg-45 {
  margin-left: -45px;
}

.mt-24 {
  margin-top: var(--size-300);
}

.mt-32 {
  margin-top: var(--size-400);
}

.pb-100 {
  padding-block: var(--size-700);
}

.mb-32 {
  margin-block: var(--size-400);
}

.mb-140 {
  margin-block: var(--size-900);
}

.mbt-32 {
  margin-bottom: var(--size-400);
}

.mbt-68 {
  margin-bottom: var(--size-500);
}

.mt-neg-224 {
  margin-top: -14rem;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.desktop-hidden {
  display: none;
}

.flex-centered {
  display: flex;
  align-items: center;
}

.gap-32 {
  gap: var(--size-400);
}

.m-0 {
  margin: 0;
}

.mt-8 {
  margin-top: var(--size-100);
}

.mt-16 {
  margin-top: var(--size-200);
}

.justify-space-between {
  justify-content: space-between;
}

.text-sm {
  font-family: var(--ff-secondary);
  font-size: var(--fs-500);
  font-weight: var(--fw-regular);
  line-height: 27px;
}

.text-xs {
  font-size: var(--fs-400);
  line-height: 16px;
}

/* ------------------------------TABLET---------------------------------------- */
@media (max-width: 1200px) {
  /* navigation */
  .container {
    padding-inline: 2.5rem;
  }

  .nav-list {
    display: none;

    position: absolute;
    text-align: center;
    gap: var(--size-200);
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: var(--size-600);
    padding-block: var(--size-400);
    background-color: var(--clr-neutral-100);
  }

  .nav-select {
    display: none;
  }

  .mobile-nav-toggle {
    display: block;
    background: none;
    border: 0;
  }

  /* first main section */
  .even-columns p:nth-child(2) {
    margin-inline: auto;
  }

  .graph-img {
    max-width: 418px;
    margin-top: var(--size-400);
  }

  /* shapes section */
  .box {
    max-width: 320px;
  }

  .box-right {
    margin-left: 22.4rem;
  }

  .dotted-line-left {
    left: 9rem;
  }

  .dotted-line-right {
    left: 13.5rem;
  }

  .dotted-line {
    max-width: 320px;
    top: -8rem;
  }

  /* carousel */
  .slide-person-info {
    display: block;
    text-align: center;
  }

  .slide-person-info img {
    margin-inline: auto;
    margin-bottom: 10px;
  }

  .slide-review {
    text-align: center;
  }

  .slide-review img {
    position: static;
    margin-inline: auto;
    margin-block: var(--size-200);
  }

  .slide-number {
    text-align: center;
  }

  .slide {
    display: flex;
    align-items: center;
    touch-action: pan-y;
  }

  .slide-arrow:hover {
    background-color: transparent;
  }

  .slide-arrow img {
    max-width: fit-content;
  }

  .slide-arrow:first-child {
    margin-right: 2.625rem;
  }

  .slide-arrow:last-child {
    margin-left: 2.625rem;
  }

  .slider-wrapper {
    margin: 0;
  }

  /* Form section */
  .form-container {
    padding: 3rem 8.125rem;
  }

  .form-box {
    margin-top: 3rem;
    padding: var(--size-600) 2.625rem;
  }

  /* footer */
  footer {
    margin-top: var(--size-500);
  }

  .footer-row {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0;
  }

  .footer-row img {
    margin-inline: auto;
    margin-bottom: 2.5rem;
  }

  .footer-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .footer-title {
    margin-top: var(--size-400);
  }

  .footer-text {
    text-align: left;
    margin-bottom: var(--size-200);
  }

  .one {
    order: 1;
  }

  .two {
    order: 3;
    padding-inline: 5.625rem;
  }

  .three {
    order: 4;
    padding-inline: 5.625rem;
  }

  .four {
    order: 2;
  }

  .copyright {
    margin-top: 3rem;
    margin-bottom: 4.5rem;
    display: block;
  }

  .footer-links {
    display: block;
  }

  /* utility classes */
  .even-columns {
    display: block;
  }

  .align-left {
    text-align: left;
  }

  .pb-100 {
    padding-block: var(--size-400);
  }

  .tablet-centered {
    margin-inline: auto;
    text-align: center;
  }

  .mb-140 {
    margin-block: var(--size-800);
  }

  .mt-neg-224 {
    margin-top: -17rem;
  }

  .ml-45 {
    margin-left: 0;
  }

  .desktop-hidden {
    display: block;
  }

  .tablet-hidden {
    display: none;
  }

  .flex-tablet {
    display: flex;
    align-items: center;
  }

  .w-75,
  .w-80 {
    width: 100%;
  }
}

/* ------------------------------MOBILE----------------------------------------- */
@media (max-width: 760px) {
  /* button */
  .main-button {
    max-width: 280px;
    display: flex;
    margin-inline: auto;
  }

  /* navigation */
  .container {
    padding-inline: 1.25rem;
  }

  .nav-list {
    display: none;

    position: absolute;
    text-align: center;
    gap: var(--size-200);
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 3rem;
    padding-top: var(--size-400);
    padding-bottom: 11rem;
    background-color: var(--clr-neutral-100);
  }

  .nav-select {
    display: none;

    position: absolute;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    top: 20rem;
    left: 1rem;
    right: 1rem;
  }

  .nav-button {
    display: none;

    position: absolute;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    top: 24rem;
    left: 0.9rem;
    right: 0.9rem;
    justify-content: center;
  }

  .mobile-nav-toggle {
    display: block;
    background: none;
    border: 0;
  }

  /* first main section */
  .text {
    text-align: left;
  }

  .graph-img {
    max-width: 280px;
  }

  .big-title {
    font-size: var(--size-400);
    line-height: 44px;
  }

  /* shapes section */
  .title {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: var(--size-400);
  }

  .box {
    max-width: 280px;
    padding: var(--size-300);
    margin-inline: auto;
  }

  .box-right {
    margin-inline: auto;
  }

  .dotted-line-left {
    border: 0;
  }

  .dotted-line-right {
    border: 0;
  }

  /* carousel */
  .slide-number {
    display: flex;
    align-items: center;
  }

  .slide-number .number {
    margin-bottom: 0;
  }

  /* FAQ Section */
  .question {
    font-size: var(--fs-600);
    line-height: 21.6px;
  }

  .faq-box {
    border-radius: 15px;
  }

  .question-label {
    padding: var(--size-200) var(--size-300);
  }

  .faq-answear {
    padding: var(--size-200) var(--size-300);
  }

  /* form section */
  .form-box {
    padding: 3rem var(--size-200);
  }

  /* footer */
  footer {
    margin-top: 2.875;
  }

  .footer-row {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0;
  }

  .footer-list {
    display: block;
    text-align: left;
  }

  .footer-title {
    text-align: left;
  }

  .three .footer-title {
    margin-top: 0;
  }

  .footer-text {
    margin-top: var(--size-200);
    margin-bottom: var(--size-300);
  }

  .two {
    padding-inline: 0;
  }

  .three {
    padding-inline: 0;
  }

  .copyright {
    margin-block: var(--size-400);
  }

  .copyright p {
    text-align: center;
  }

  /* utility classes */
  .tablet-centered {
    text-align: left;
  }

  .w-80 {
    width: 100%;
  }

  .mb-32 {
    margin-block: var(--size-300);
  }

  .mb-140 {
    margin-block: var(--size-600);
  }

  .dotted-line {
    width: 0;
    height: 0;
    border-top: 0;
    border-radius: 0;

    position: static;
  }

  .mt-neg-224 {
    margin-top: var(--size-300);
  }

  .mobile-hidden {
    display: none;
  }

  .mobile {
    display: block;
  }

  .mobile-bg-purple {
    background-color: var(--clr-accent-200);
  }
}
